.fondo-perfil{
    background-image: url(../img/francisco-valdez-fondo.jpg);
    
}
.mb-30{
    display: block;
    width: 100%;
    height: 1px;
    margin-bottom: 30px;
}
.pie{
    background-color: darkslategrey;
    width: 100%;
    height: 80px;

}