/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap'); */

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.espacio-menu{
    width: 50px !important;
}
.contenido{
    width: calc(100% - 50px) !important;
    
}
header {
    position: fixed;
    top: 12px;
    left: 12px;
    padding: 17px;
    background: #11141a;
    z-index: 100;
}
.base-tarjeta{
    background: rgb(13,174,255);
    background: linear-gradient(60deg, rgba(209, 35, 232,1) 0%, rgba(13,174,255,1) 50%, rgb(27, 59, 181,1) 100%);
}
nav a {
    color: #fff;
    text-decoration: none;
    transition: .3s;
    display: block;
}
nav a:hover,
nav a.active {
    color: #0ef;
}
section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1f242d;
    color: #fff;
}
section:nth-child(odd) {
    background: #323946;
}
h1, h3{
    text-align: center;
    font-weight:800;
    font-family: 'Raleway', sans-serif;
    min-width: 190px;
}
h4{
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
.foto-perfil{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 6px solid rgba(255, 255, 255, 0.5);
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
p{
    text-align: center;
    font-family: 'Raleway', sans-serif;
} 
.btn-tamano{
    width: 100%;
    height: 120px;
}
    